<ion-header [translucent]="true">
  <ion-toolbar style="--border-width: 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center">Conta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Primeiro Nome</ion-label>
        <ion-input [(ngModel)]="firstName" required></ion-input>
      </ion-item>
      <div *ngIf="firstNameError" class="error-message">
        É necessário escrever um nome neste campo.
      </div>
      <ion-item>
        <ion-label position="floating">Último Nome</ion-label>
        <ion-input [(ngModel)]="lastName" required></ion-input>
      </ion-item>
      <div *ngIf="lastNameError" class="error-message">
        É necessário escrever um nome neste campo.
      </div>
      <ion-item>
        <ion-label position="floating">Morada</ion-label>
        <ion-input [(ngModel)]="addressLine1" required></ion-input>
      </ion-item>
      <div *ngIf="addressLine1Error" class="error-message">
        É necessário escrever a morada de entrega neste campo.
      </div>
      <ion-item>
        <ion-label position="floating">Endereço Linha 1</ion-label>
        <ion-input [(ngModel)]="addressLine2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input [(ngModel)]="city" required></ion-input>
      </ion-item>
      <div *ngIf="cityError" class="error-message">
        É necessário escrever o nome de uma cidade neste campo.
      </div>
      <ion-item>
        <ion-label position="floating">Código-Postal</ion-label>
        <ion-input [(ngModel)]="postalCode" required></ion-input>
      </ion-item>
      <div *ngIf="postalCodeError" class="error-message">
        É necessário escrever o código-postal neste campo.
      </div>
      <ion-button style="margin-top: 20px" expand="block" (click)="submitInfo()"
        >Submeter Informação</ion-button
      >
    </ion-card-content>
  </ion-card>

  <p
    class="paragrafo"
    style="margin-left: 10px; padding: 8px 0; color: gray; font-size: 14px"
  >
    Esta informação será guardada para as suas próximas compras.
  </p>
</ion-content>

<style>
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
  }

  .paragrafo {
    text-align: center;
  }
</style>
