<ion-header [translucent]="true">
  <ion-toolbar style="--border-width: 0">
    <ion-buttons slot="start">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-list>
      <ion-item
        *ngFor="let list of lists"
        (click)="openList(list.id)"
        (press)="openActionSheet(list)"
      >
        <ion-label>
          <h2>{{ list.name }}</h2>
          <p>{{ list.items.length }} produtos</p>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-list>
  </ion-reorder-group>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="presentPrompt()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
