<ion-header [translucent]="true">
  <ion-toolbar style="--border-width: 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToPagar()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="list-info">
    <h2>{{ currentList?.name }}</h2>
    <p>
      {{ currentList?.items.length }} produtos - {{
      calculateSubtotal(currentList) | currency: 'EUR' }}
    </p>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of currentList?.items">
      <ion-label>{{ item.name }}</ion-label>
      <ion-note slot="end">{{ item.preco | currency: 'EUR' }}</ion-note>
      <ion-note slot="end">x{{ item.quantity }}</ion-note>
    </ion-item>
  </ion-list>
  <ion-fab
    style="margin-bottom: 10px"
    vertical="bottom"
    horizontal="center"
    slot="fixed"
  >
    <ion-fab-button (click)="openCamera()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<style>
  .list-info {
    padding: 16px;
    text-align: center;
  }

  ion-note {
    margin-left: 10px;
  }
</style>
