<ion-header [translucent]="true">
  <ion-toolbar style="--border-width: 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p
    style="
      margin-left: 10px;
      margin-bottom: 20px;
      margin-top: 15px;
      padding: 8px 0;
      color: gray;
      font-size: 14px;
    "
  >
    Notificações Recentes
  </p>

  <ion-list>
    <ion-item *ngFor="let notificacao of notificacoes">
      <ion-label>
        <p>{{ notificacao.message }}</p>
        <p>{{ notificacao.timestamp.toDate() | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
