<ion-header [translucent]="true">
  <ion-toolbar style="--border-width: 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pagamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="payment-options">
        <ion-row>
          <ion-col size="auto">
            <img src="assets/background/shop-pay.png" alt="Shop Pay" />
          </ion-col>
          <ion-col size="auto">
            <img src="assets/background/google-pay.png" alt="Google Pay" />
          </ion-col>
          <ion-col size="auto">
            <img src="assets/background/apple-pay.png" alt="Apple Pay" />
          </ion-col>
        </ion-row>
      </div>
      <ion-item>
        <ion-label position="floating">Primeiro Nome</ion-label>
        <ion-input [(ngModel)]="firstName" required></ion-input>
      </ion-item>
      <div *ngIf="firstNameError" class="error-message">
        Preencha este campo.
      </div>
      <ion-item>
        <ion-label position="floating">Último Nome</ion-label>
        <ion-input [(ngModel)]="lastName" required></ion-input>
      </ion-item>
      <div *ngIf="lastNameError" class="error-message">
        Preencha este campo.
      </div>
      <ion-item>
        <ion-label position="floating">Endereço Linha 1</ion-label>
        <ion-input [(ngModel)]="addressLine1" required></ion-input>
      </ion-item>
      <div *ngIf="addressLine1Error" class="error-message">
        Preencha este campo.
      </div>
      <ion-item>
        <ion-label position="floating">Endereço Linha 2</ion-label>
        <ion-input [(ngModel)]="addressLine2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input [(ngModel)]="city" required></ion-input>
      </ion-item>
      <div *ngIf="cityError" class="error-message">Preencha este campo.</div>
      <ion-item>
        <ion-label position="floating">Código Postal</ion-label>
        <ion-input [(ngModel)]="postalCode" required></ion-input>
      </ion-item>
      <div *ngIf="postalCodeError" class="error-message">
        Preencha este campo.
      </div>
      <ion-button expand="block" (click)="submitProposal()"
        >Enviar Proposta</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>

<style>
  .payment-options {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
  }

  .payment-options ion-col {
    flex: 0 0 auto;
    text-align: center;
  }

  .payment-options img {
    height: 40px;
    margin: 0 10px;
  }

  ion-card-title,
  ion-card-subtitle {
    text-align: center;
  }

  ion-item {
    --background: #f9f9f9;
    border-radius: 10px;
    margin: 10px 0;
  }

  ion-button {
    margin-top: 20px;
  }

  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: 10px;
  }
</style>
