<ion-header [translucent]="true">
  <ion-toolbar style="--border-width: 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>
  <div class="container">
    <p>
      Bem-vindo ao nosso aplicativo de supermercado. Ao utilizar os nossos
      serviços concorda com os seguintes termos e condições. É importante ler
      cuidadosamente as cláusulas descritas a seguir para garantir uma
      experiência segura e satisfatória.
    </p>
    <p>
      Reservamo-nos o direito de atualizar ou modificar estes termos a qualquer
      momento sem aviso prévio. É responsabilidade do usuário revisar
      periodicamente esta página para estar ciente de quaisquer alterações. O
      uso contínuo do aplicativo após quaisquer modificações constitui aceitação
      dessas mudanças.
    </p>
    <p>
      O nosso aplicativo coleta e utiliza informações pessoais conforme descrito
      na nossa política de privacidade. Comprometemo-nos a proteger a
      privacidade de nossos usuários e a utilizar as suas informações apenas
      para fornecer e melhorar os nossos serviços. Não compartilhamos as
      informações com terceiros sem o seu consentimento, exceto conforme exigido
      por lei.
    </p>
    <p>
      Todos os produtos e preços exibidos no aplicativo estão sujeitos a
      disponibilidade e podem ser alterados sem aviso prévio. Esforçamo-nos para
      garantir que todas as informações fornecidas sejam precisas e atualizadas,
      mas não assumimos responsabilidade por erros ou omissões.
    </p>
    <p>
      Ao utilizar o aplicativo, concorda em cumprir todas as leis e regulamentos
      aplicáveis. Não deve utilizar o aplicativo para qualquer finalidade ilegal
      ou não autorizada. Qualquer violação destes termos pode resultar na
      suspensão ou encerramento do seu acesso ao nosso aplicativo.
    </p>
  </div>
</ion-content>

<style>
  .container {
    margin-top: -15px;
    padding: 16px;
    text-align: center;
    color: gray;
  }
</style>
