<ion-header [translucent]="true">
  <ion-toolbar style="--border-width: 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/entrar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-input placeholder="Nome" type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        placeholder="Email"
        type="email"
        [(ngModel)]="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        placeholder="Palavra-passe"
        type="password"
        [(ngModel)]="password"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="createAccount()"
      >Criar Conta</ion-button
    >
  </div>
</ion-content>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
    background-color: #f8f8f8; /* Cor de fundo clara */
    background-size: cover;
    font-family: "Roboto", Arial, sans-serif;
  }

  ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
    --background: transparent;
  }

  ion-input {
    --padding-start: 0px;
  }

  ion-button {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
    --background: #ff5722; /* Cor laranja */
    --background-hover: #e64a19;
    --background-activated: #d84315;
  }
</style>
