<ion-header [translucent]="true">
  <ion-toolbar style="--border-width: 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings" text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>
  <div class="container">
    <p>
      A secção de ajuda da nossa aplicação foi desenvolvida para fornecer
      suporte claro e eficiente aos usuários. Aqui, você encontrará uma
      introdução sobre como navegar pela ajuda, garantindo acesso rápido às
      informações.
    </p>
    <p>
      As Perguntas Frequentes (FAQ) cobrem as dúvidas mais comuns, organizadas
      por categorias. Para orientações mais detalhadas, oferecemos tutoriais
      passo a passo e vídeos explicativos que demonstram funcionalidades
      complexas.
    </p>
    <p>
      Também incluímos uma secção de solução de problemas comuns, ajudando a
      resolver erros e bugs conhecidos de forma rápida. Se precisar de mais
      assistência, disponibilizamos contatos para suporte via e-mail, telefone e
      fóruns de discussão.
    </p>
    <p>
      Valorizamos o feedback dos usuários, então disponibilizamos formulários
      para sugestões e relatos de problemas. A nossa seção de ajuda visa
      melhorar continuamente a sua experiência com a aplicação, oferecendo
      recursos abrangentes e acessíveis.
    </p>
    <p>
      Se tiver duvidas ou precisar de ajuda, entre em contato connosco a partir
      do website github.com/t8ne/EuCompro ou via e-mail.
    </p>
    <p>antoniorebelo&#64;ipvc.pt</p>
    <p>eduardocouto&#64;ipvc.pt</p>
    <p>Agradecemos pela colaboração.</p>
  </div>
</ion-content>

<style>
  .container {
    margin-top: -15px;
    padding: 16px;
    text-align: center;
    color: gray;
  }
</style>
